.build {
    /* border: 1px solid red; */
    margin-top: 25rem;
}
#build-title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-weight: 100;
}