.items {
    margin-top: 12rem;
}
#items-title {
    background: linear-gradient(to right, #a50d0d,
    #a5300d, #a5630d, #a5890d, #7ca50d,
    #3da50d, #0da52e, #0da57f, #0d87a5,
    #0d42a5, #290da5, #5c0da5, #a00da5,
    #a50d0d);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Atkinson Hyperlegible Mono, Arial;
}

/* xxs = (extra extra small) */
@media (min-width: 320px) {
    #items-title {
        font-size: var(--size-3xl);
    }
}

/* xs = (extra small) */
@media (min-width: 475px) {
    #items-title {
        font-size: var(--size-4xl);
    }
}

/* sm = (small) */
@media (min-width: 640px) {
    #items-title {
        font-size: var(--size-5xl);
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    #items-title {
        font-size: var(--size-6xl);
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    #items-title {
        font-size: var(--size-7xl);
    }
}
