.laptops {
    margin-top: 12rem;
}
#laptops-title {
    background: linear-gradient(to right, #a50d0d,
    #a5300d, #a5630d, #a5890d, #7ca50d,
    #3da50d, #0da52e, #0da57f, #0d87a5,
    #0d42a5, #290da5, #5c0da5, #a00da5,
    #a50d0d);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-size: var(--size-7xl);
}
