.parts {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#parts-title {
    color: var(--txt);
    text-align: center;
    font-size: 2.5rem;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-weight: 100;
    margin-top: 5rem;
}
.rbg-bar { 
    position: relative;                                                
    width: 100%;                                                      
    background-color: white;                                       
    height: auto;                                                 
    margin-top: 5rem;                                           
    display: flex;                                            
    align-items: center;                                      
    justify-content: center;                             
    flex-wrap: wrap;                                      
} 
.rbg-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #b71234,
    #b41e82, #9134bd, #1c47b6, #9134bd,
    #b41e82, #b71234);
    animation: txt-rgb 2s linear infinite;
    background-size: 200%;
}
.rgb-container {
    position: relative;
    color: white;
    text-align: center;
}
.rgb-container img {
    width: 50px;
}
.rgb-bar-title {
    font-size: var(--size-xl);
    font-family: Atkinson Hyperlegible Mono, Arial;
}
.rgb-bar-desc {
    font-size: var(--size-base);
    font-weight: 300;
    width: 19ch;
    margin-top: 1rem;
}
#parts-container {
    width: 103rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
.parts-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    background: linear-gradient(var(--card), #0f0f0f);
}
.card {
    margin: 0 auto;
    position: relative;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle),
    #b71234, #b41e82, #9134bd, #1c47b6,
    #9134bd, #b41e82, #b71234);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    animation: 7s spin linear infinite;
}
.card::before {
    filter: blur(1rem);
    opacity: 70%;
}
@keyframes spin {
    from {
        --angle: 0deg;
    } to {
        --angle: 360deg;
    }
}
.parts-titles {
    color: var(--txt);
    text-align: center;
    font-family: Atkinson Hyperlegible Mono, Arial;
    font-weight: 300;
    margin-top: 2rem;
}
.parts-descr {
    color: grey;
    font-size: var(--size-base);
    text-align: center;
    margin-top: 1rem;
    font-weight: normal;
    font-family: "Roboto";
}
.home-img {
    z-index: 10;
    margin-top: 1rem;
}

/* xxs = (extra extra small) */
@media (min-width: 320px) {
    .rbg-bar {
        gap: 1rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #parts-title {
        font-size: var(--size-3xl);
    }
    #parts-container {
        gap: 3.4rem;
    }
    .parts-cards {
        width: 20rem;
        height: 30rem;
    }
    .parts-titles {
        font-size: var(--size-xl);
    }
    .parts-descr {
        font-size: var(--size-sm);
        width: 35ch;
        text-align: left;
    }
    .home-img {
        width: 15rem;
    }
}

/* sm = (small) */
@media (min-width: 640px) {
    #parts-title {
        font-size: var(--size-3xl);
    }
}

/* md = (medium) */
@media (min-width: 768px) {
    .rbg-bar {
        gap: 5rem;
    }
    .parts-titles {
        font-size: var(--size-2xl);
    }
    .parts-descr {
        font-size: var(--size-base);
        width: 35ch;
        text-align: left;
    }
    .parts-cards {
        width: 25rem;
    }
}

/* xl = (extra large) */
@media (min-width: 1280px) {
    #parts-title {
        font-size: var(--size-4xl);
    }
    .parts-cards {
        width: 40rem;
    }
}

/* 2xl = (two extra large) */
@media (min-width: 1536px) {
    .rbg-bar {
        gap: 10rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #parts-container {
        gap: 2.5rem;
    }
    .parts-titles {
        font-size: var(--size-3xl);
    }
    .parts-descr {
        width: 40ch;
        text-align: center;
    }
    .parts-cards {
        width: 50rem;
    }
    .home-img {
        width: 20rem;
    }
}
